<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

<div>
  Select Unit
  <select #unitDropdown (change)="handleUnitChange(unitDropdown.value)">
    <option *ngFor="let unit of units" [value]="unit.name">{{unit.name}}</option>
  </select>
</div>

<div>
  Select Weapon
  <select *ngIf="selectedUnit" #weaponDropdown (change)="handleWeaponChange(weaponDropdown.value)">
    <option *ngFor="let weapon of selectedUnit.weapons" [value]="weapon.name">{{weapon.name}}</option>
  </select>
</div>

<div>
  Select Amount Of Weapons
  <select *ngIf="selectedUnit" #amountDropdown (change)="handleAmountChange(amountDropdown.value)">
    <option *ngFor="let amount of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]" [value]="amount">{{amount}}</option>
  </select>
</div>



{{unitDropdown.value | json}}
Average Damage Table
<div *ngIf="selectedUnit && selectedWeapon">
  <div *ngFor="let sv of svs">
    Save: {{sv}}+
    <table>
      <tr>
        <th *ngFor="let t of toughness">T{{t}},</th>
      </tr>
      <tr>
        <td *ngFor="let t of toughness">
          {{selectedUnit.getAverageDamageOfWeaponVsUnit(selectedWeapon, t, sv, 0) * selectedAmount | number:"1.0-2" }}, </td>
      </tr>
    </table>
  </div>
</div>


<router-outlet></router-outlet>
